# Global Shark Attacks

- note
- note
- note
-
-

## Import Libraries

In [61]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats
from scipy.stats.mstats import winsorize

import math
from sklearn.preprocessing import OneHotEncoder, Normalizer, LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.neighbors import KNeighborsRegressor

import warnings
warnings.filterwarnings('ignore')

## Import Data

In [62]:
data = pd.read_csv('attacks.csv',encoding='latin-1')

## First Review and Clean Data

In [63]:
data.shape

(25723, 24)

In [64]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### Cleaning Columns

In [29]:
for col in data:
    print(data[col].value_counts(), '\n')

# replace Case Numer with unique identifier
# extract month and year from date (where possible)
# clean year to identical format or extract from date
# check if years are the same from date and year
# Type ??????? what do those categories mean and are they actually reliable? probaly objective call
# check country values if there are somekind of double counts?
# Area? what to do with the Area? probably has a connection to the kind of shark
# Location? what to do with Location? probably has a connection to the kind of shark
# Activity - Cleaning down to a few categories and sum the others under unknown
# name . drop
# sex
# age
# injury
# fatal

0               2400
1990.05.10         2
1920.00.00.b       2
2012.09.02.b       2
1966.12.26         2
                ...
1888.01.22         1
1974.03.21         1
1960.08.04.b       1
1905.03.25         1
1949.01.13         1
Name: Case Number, Length: 6287, dtype: int64

1957           11
1942            9
1956            8
1950            7
1958            7
               ..
06-Mar-2004     1
02-Feb-1968     1
13-Jul-2006     1
17-Nov-2002     1
Jan-1936        1
Name: Date, Length: 5433, dtype: int64

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: Year, Length: 249, dtype: int64

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

USA                           2229
AUSTRALIA                     1338
SOUTH AFRICA                   579
PAPUA NEW GUINEA               134
NEW ZEALAND                    128
                              ...
AFRICA                           1
ARUBA                            1
ROATAN                           1
ANDAMAN / NICOBAR ISLANDAS       1
SWEDEN                           1
Name: Country, Length: 212, dtype: int64

Florida             1037
New South Wales      486
Queensland           311
Hawaii               298
California           290
                    ...
Nicoya Peninsula       1
Minerva Reef           1
Dar-es-Salaam          1
Shanghai               1
East New Britain       1
Name: Area, Length: 825, dtype: int64

New Smyrna Beach, Volusia County                              163
Daytona Beach, Volusia County                                  30
Ponce Inlet, Volusia County                                    20
Melbourne Beach, Brevard County                                18
Myrtle Beach, Horry County                                     17
                                                             ...
Coquimbo                                                        1
Garvies Beach                                                   1
Bear Harbor, Mendocino County                                   1
Papaikou plantation                                             1
Beachway Avenue Approach, New Smyrna Beach, Volusia County      1
Name: Location, Length: 4108, dtype: int64

Surfing                                                        971
Swimming                                                       869
Fishing                                                        431
Spearfishing                                                   333
Bathing                                                        162
                                                              ...
Fishing / Wading                                                 1
Swimming / surfing                                               1
Spear fishing, removing fish from spear                          1
Petting captive sharks                                           1
Adrift on raft after their ship was sunk by an Axis raider       1
Name: Activity, Length: 1532, dtype: int64

male              550
female             97
boy                23
2 males            16
boat               14
                 ...
Joanna Salmon       1
Seldon Jee          1
Kyle Dickens        1
Jill Varney         1
Eleanor Nelson      1
Name: Name, Length: 5230, dtype: int64

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64

17                         154
18                         150
19                         142
20                         141
15                         139
                          ...
37, 67, 35, 27,  ? & 27      1
A.M.                         1
20                           1
X                            1
16 to 18                     1
Name: Age, Length: 157, dtype: int64

FATAL                                                                       802
Survived                                                                     97
Foot bitten                                                                  87
No injury                                                                    82
Leg bitten                                                                   72
                                                                           ...
Leg severed mid-thigh                                                         1
Left heel lacerated                                                           1
No injury to occupant, shark lifted canoe's outrigger                         1
Injuries to arm & leg by hooked shark   PROVOKED INCIDENT                     1
No injury; onlookers saw 10' shark heading for him and lifted him ashore      1
Name: Injury, Length: 3737, dtype: int64

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
N             1
y             1
2017          1
Name: Fatal (Y/N), dtype: int64

Afternoon                      187
11h00                          128
Morning                        121
12h00                          109
15h00                          108
                              ...
11h01 -time of ship sinking      1
Just before sundown              1
>17h30                           1
15h44                            1
15j45                            1
Name: Time, Length: 366, dtype: int64

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
Grey reef shark, 5' to 8'                               1
1.8 m [6'], 136-kg [300-lb] shark                       1
Oceanic whitetip shark, 6'                              1
White shark, 12' to 15'                                 1
Possiby white shark                                     1
Name: Species , Length: 1549, dtype: int64

C. Moore, GSAF                                                                                                                   105
C. Creswell, GSAF                                                                                                                 92
S. Petersohn, GSAF                                                                                                                82
R. Collier                                                                                                                        55
T. Peake, GSAF                                                                                                                    48
                                                                                                                                ...
G. Smit, P. Landsberg, M.D., M. Levine, GSAF                                                                                       1
H. Frederick, NSB News, 3/24/2012                                                                                                  1
G. Hurley                                                                                                                          1
Radio New Zealand & Les Nouvelles Caledoniennes, 5/23/2011                                                                         1
J. Borg, pp.80-81; L. Taylor (1993), pp.112-113. Note: Hawaii Department of Land and Natural Resources lists date as 2/1/1992      1
Name: Investigator or Source, Length: 4969, dtype: int64

1906.09.27.R.a&b-Munich-Swede.pdf    2
1921.11.27.a-b-Jack.pdf              2
1907.10.16.R-HongKong.pdf            2
1929.03.04.a-b.Roads-Aldridge.pdf    2
1935.06.05.R-SolomonIslands.pdf      2
                                    ..
1950.04.09.R-2Toes.pdf               1
1962.12.00-Swift.pdf                 1
2016.06.24-Velez.pdf                 1
1913.12.26.R-Schwertz.pdf            1
1964.10.04-Henderson.pdf             1
Name: pdf, Length: 6291, dtype: int64

http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf              2
http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf                 2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf                2
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf      2
                                                                                            ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2016.01.25-Waldman.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/2009.05.25-Joseph.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directory/1865.00.00-Barrett.pdf                 1
http://sharkattackfile.net/spreadsheets/pdf_directory/1911.10.25-Toby.pdf                    1
http://sharkattackfile.net/spreadsheets/pdf_directory/1998.12.18-vanderMerwe.pdf             1

Name: href formula, Length: 6290, dtype: int64

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                  4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf           3
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf       2
http://sharkattackfile.net/spreadsheets/pdf_directory/1931.09.21.a-b-Holaday-Barrows.pdf    2
                                                                                           ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1959.08.11-Tsuchiya.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1957.07.09-Kris.pdf                   1
http://sharkattackfile.net/spreadsheets/pdf_directory/1955.08.30.a-DaleStrand.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/2013.06.14.R-Foreman.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1998.12.18-vanderMerwe.pdf            1
Name: href, Length: 6285, dtype: int64

1990.05.10        2
1980.07.00        2
1915.07.06.a.R    2
1913.08.27.R      2
2005.04.06        2
                 ..
2014.08.09.R      1
2013.12.16        1
1888.01.22        1
1974.03.21        1
1949.01.13        1
Name: Case Number.1, Length: 6285, dtype: int64

2013.10.05      2
1966.12.26      2
1980.07.00      2
2014.08.02      2
1962.06.11.b    2
               ..
1888.01.22      1
1974.03.21      1
1960.08.04.b    1
1905.03.25      1
1949.01.13      1
Name: Case Number.2, Length: 6286, dtype: int64

569.0     2
5639.0    1
4754.0    1
2899.0    1
5259.0    1
         ..
439.0     1
257.0     1
4425.0    1
4065.0    1
6144.0    1
Name: original order, Length: 6308, dtype: int64

stopped here    1
Name: Unnamed: 22, dtype: int64

change filename    1
Teramo             1
Name: Unnamed: 23, dtype: int64

After a first brief review of the data it becomes clear very fast that this data will require a lot of data cleaning which is why I will review column by columns.

#### Clean Column Names

In [65]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**Changes needed:** <br>
lower case <br>
underscore '_' <br>
drop empty spaces ' ', <br>
replace '.' with underscore '_' <br>
remove (Y/N)

In [68]:
data.columns = [column.lower().replace('.', '').replace(' ','_').replace(':','').replace('(y/n)','') for column in data.columns]

In [69]:
data.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number1', 'case_number2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

#### case_number, case_number1, case_number2

In [71]:
cases = data[['date', 'year', 'case_number', 'case_number1', 'case_number2']].copy()

In [73]:
cases.head()

          date    year case_number case_number1 case_number2
0  25-Jun-2018  2018.0  2018.06.25   2018.06.25   2018.06.25
1  18-Jun-2018  2018.0  2018.06.18   2018.06.18   2018.06.18
2  09-Jun-2018  2018.0  2018.06.09   2018.06.09   2018.06.09
3  08-Jun-2018  2018.0  2018.06.08   2018.06.08   2018.06.08
4  04-Jun-2018  2018.0  2018.06.04   2018.06.04   2018.06.04

In [74]:
for col in cases:
    print(cases[col].value_counts(), '\n')

1957           11
1942            9
1956            8
1950            7
1958            7
               ..
06-Mar-2004     1
02-Feb-1968     1
13-Jul-2006     1
17-Nov-2002     1
Jan-1936        1
Name: date, Length: 5433, dtype: int64

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: year, Length: 249, dtype: int64

0               2400
1990.05.10         2
1920.00.00.b       2
2012.09.02.b       2
1966.12.26         2
                ...
1888.01.22         1
1974.03.21         1
1960.08.04.b       1
1905.03.25         1
1949.01.13         1
Name: case_number, Length: 6287, dtype: int64

1990.05.10        2
1980.07.00        2
1915.07.06.a.R    2
1913.08.27.R      2
2005.04.06        2
                 ..
2014.08.09.R      1
2013.12.16        1
1888.01.22        1
1974.03.21        1
1949.01.13        1
Name: case_number1, Length: 6285, dtype: int64

2013.10.05      2
1966.12.26      2
1980.07.00      2
2014.08.02      2
1962.06.11.b    2
               ..
1888.01.22      1
1974.03.21      1
1960.08.04.b    1
1905.03.25      1
1949.01.13      1
Name: case_number2, Length: 6286, dtype: int64

I drop the case numbers and work with a unique index instead

#### date

#### year

#### drop columns

In [ ]:
to_drop = ['case_number',
            'case_number1',
            'case_number2']

df.drop(to_drop, inplace=True, axis=1)

df.drop(columns=to_drop, inplace=True)

In [28]:
data['Case Number'].is_unique

False

In [24]:
data.shape

(25723, 24)

In [25]:
data.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object